.aboutMe{
    background-image: url(/assets/whiteBackground.png);
    background-repeat: repeat;
    background-position: center center;
    padding: 80px 0;
    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include mqTablet{
        flex-direction: column-reverse;
    }
    }
    .aboutMeLeft{
        width: 45%;
        text-align: center;
        p{
            text-align: left;
        }
        align-self: center;
        p{
            margin-top: 20px;
            span{
                color: $pinkColor;
            }
        }
        button{
            
            margin-top: 20px;
        }
    }
    .aboutMeRight{
        background-image: url(/assets/meAntlers.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        min-height: 50vh;
        border-radius: 2px 20px;
        position: relative;
        cursor: default;
        p{
            position: absolute;
            top: 2%;
            right: 30%;
            font-size: 3rem;
            background-color: rgba(255,255,255,0.7);
            padding: 10px;
            border-radius: 20px;
        }
        &:hover{
            background-image: url(/assets/meHover.png)
        }
        @include mqTablet{
            width: 100%;
        }

    }
    
}

.aboutMe{
    .aboutMeLeft{
        @include mqTablet{
                width: 100%;
                h3, h4{
                    margin: 0 auto;
                    // display: block;
                    text-align: center;
                }
                .button{
                    margin: 0 auto;
                    text-align: center;
                    button{
                        width:70%;
                    }
                }
            }
    }
}

.aboutMe.wrapper{
    padding: 20px;
    border-radius: 30px;
    @include mqTablet{
        width: 90%;
    }
}