$whiteColor: #ffff;
$pinkColor: #FA506F;
$purpleColor: #c06c84;
$greyColor: #696464;
$lightGreyColor: #FAFAFA;
$lightPink: #FFC6C7;
$darkPurple: #66254C;

$darkTeal: #524771; 
$orangeColor: #FC6F5C;
$lightOrange: #ff9776;
$teal: #00a79d;
$blueGreenTeal: #00adb5;
