.contact{
    background-image: linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.8)), url(../assets/treePattern.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: contain;
    text-align: center;
    padding-top: 80px;
        h4{
            position: relative;
            display: inline-block;
            padding: 0 50px;
            &::before{
                position: absolute;
                content: "—";
                top: 0;
                left: 0;
                color: $orangeColor;
            }
            &::after{
                position: absolute;
                content: "—";
                top: 0;
                right: 0;
                color: $orangeColor;
            }
            span{
                color: $lightOrange;
            }
    }
    
    .wrapper{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        @include mqSmallTablet{
            flex-direction: column;
        }
    }
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    h5{
        color: $pinkColor
    }
    .socialIcons{
        margin-top: 20px;
        display: none;
        
        li{
            z-index: 30;
            i{
                color: $orangeColor;
                transition: 0.5s;
                &:hover{
                    color: $lightOrange;
                }
            }
        }
        @include mqMedPhone{
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.contactForm{
            margin: 30px auto;
            width: 60%;
            background-color: $blueGreenTeal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .inputRow{
                display: flex;
                justify-content: space-between;
                        .emailInput, .nameInput{
                            width:49%;
                            @include mqMedPhone{
                                width: 100%;
                            }
                        }
                        @include mqMedPhone{
                            flex-direction: column;
                        }
            }
            form{
                padding: 25px;
                display: inline-block;
                textarea, input{
                    resize: none;
                }
            }
            button{
                background-color: $darkTeal;
            }
            @include mqSmallTablet{
                justify-content: center;
                width: 100%;
                margin: 30px 0;
                form{
                    padding: 10px;
                }
            }
        }
