ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}


h1, h2{
    font-family: 'Berkshire Swash', cursive;
    color: white;
}

h1{
    font-size: 10rem;
    text-shadow:1px 1px 5px black, 1px 1px 5px black;    
    span{
        color:#524771;
        position: relative;
        z-index: 20;
        text-shadow:1px 1px 5px $whiteColor, 1px 1px 5px $whiteColor;    
        &::before{
            content:"";
			width: 90%;
			height: 50%;
            border-radius: 20px;
			opacity: 0.4;
			position: absolute;
			bottom: 0;
            left: 5%;
        }
    }
        @include mqMedPhone{
        font-size: 6rem;
    }
        @include mqSmallPhone{
            font-size: 5rem;
        }
        @include mqTinyPhone{
            font-size: 4.6rem;
        }
}

h2{
    font-size: 5.8rem;
    text-shadow:1px 1px 10px black, 1px 1px 10px #ccc;
        @include mqMedPhone{
        font-size: 4rem;
    }
        @include mqSmallPhone{
        font-size: 3rem;
    }
}

h3,h4,h5,li,p,a, button, input, textarea{
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-size: 4.8rem;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 2px dashed $orangeColor;
    display: inline-block;
    span{
        color:$orangeColor;
    }
    @include mqMedPhone{
        font-size: 3.8rem;
    }
}

h4{
    margin-top: 20px;
    font-size: 3.2rem;
    font-weight: lighter;
    @include mqMedPhone{
        font-size: 2.5rem;
    }
}

h5{
    font-size: 3rem;
    font-weight: normal;
    color: $teal;
    letter-spacing: 5px;;
    @include mqMedPhone{
        font-size: 2.2rem;
        letter-spacing: none;
        margin-top: 20px;
    }
}

p, button, .skillsUsed li, .pageNav li, input, textarea{
    font-size: 2rem;
    @include mqSmallPhone{
        font-size: 1.8rem;
    }
}

p{
    color: $greyColor;
}

button{
    transition: 0.5s;
    background-color: $orangeColor;
    color: $whiteColor;
    border: none;
    padding: 10px;
    box-shadow: 0px 0px 10px transparent;
    &:hover{
        background-color: darken($color: $orangeColor, $amount: 10%);
        font-size: 2.2rem;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    }
}

ul{
    list-style: none;
}

.skillsUsed{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    li{
        cursor: default;
        background-color: transparent;
        color: black;
        border: 1px solid $teal;
        padding: 8px;
        margin: 5px;
        display: inline-block;
    }
    @include mqMedPhone{
        margin-top: 10px;
    }
}

a{
    text-decoration: none;
    color: white;
}

input, textarea{
    border: 1px solid #282c37;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}