ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
    padding: 0;
    margin: 0;
}


h1, h2{
    font-family: 'Berkshire Swash', cursive;
    color: white;
}

h1{
    font-size: 8rem;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow:1px 1px 5px black, 1px 1px 5px black;
    
    span{
        color:$orangeColor;
        position: relative;
        z-index: 20;
        // text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        text-shadow:1px 1px 5px black, 1px 1px 5px black;
        &::before{
            content:"";
			width: 90%;
			height: 50%;
            border-radius: 20px;
			opacity: 0.4;
			position: absolute;
			bottom: 0;
            left: 5%;
        }
    }
}

h2{
    font-size: 5.8rem;
    text-shadow:1px 1px 5px black, 1px 1px 5px #ccc;
}

h3,h4,p{
    font-family: 'Quicksand', sans-serif;
}

h3{
    font-size: 4.8rem;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px dashed$orangeColor;
    display: inline-block;
    span{
        color:$orangeColor;
    }
}

h4{
    margin-top: 20px;
    font-size: 3.2rem;
}

p{
    font-size: 2rem;
    color: #5f6769;
}

button{
    font-size: 2.2rem;
    font-weight: lighter;
    transition: 0.5s;
    background-color: $orangeColor;
    color: $whiteColor;
    border: none;
    &:hover{
        background-color: darken($color: $orangeColor, $amount: 10%);
        border-radius: 10px;
    }
}

ul{
    list-style: none;
}