.projects{
    background-image: url(../assets/whiteBackground.png);
    background-repeat: repeat;
    background-position: center center;
    padding: 80px 0;
    margin: 0 auto;
    text-align: center;
        h4{
            position: relative;
            display: inline-block;
            padding: 0 50px;
            &::before{
                position: absolute;
                content: "—";
                top: 0;
                left: 0;
                color: $orangeColor;
            }
            &::after{
                position: absolute;
                content: "—";
                top: 0;
                right: 0;
                color: $orangeColor;
            }
        
    }
    .wrapper{
        display: flex;
        margin-top: 40px;
        flex-direction: column;
    }
}

.projectButtons{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    button{
        margin: 0 5px;
    }
}

.firstProject{
    display: flex;
    justify-content: space-between;
    .firstLeft{
        align-self: center;
        width: 40%;
        img{
            width: 100%;
        }
    }
    .firstRight{
        width: 50%;
        text-align: left;
    }
    .skillsUsed, .projectButtons{
        justify-content: flex-start;
    }
    @include mqTinyTablet{
        flex-direction: column;
        .firstLeft{
            width: 100%;
        }
        .firstRight{
            width: 100%;
            text-align: center;
        }
        .skillsUsed, .projectButtons{
        justify-content: center;
    }
    }
    
}

.secondProject{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .secondRight{
        width: 40%;
        align-self: center;
        img{
            width: 100%;
        }
    }
    .secondLeft{
        width: 50%;
        text-align: right;
    }
    .skillsUsed, .projectButtons{
        justify-content: flex-end;
    }
    @include mqTinyTablet{
        flex-direction: column-reverse;
        
        .secondRight{
            width: 100%;
        }
        .secondLeft{
            width: 100%;
            text-align: center;
        }
        .skillsUsed, .projectButtons{
        justify-content: center;
    }
    }
    
}

.thirdProject{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .thirdLeft{
        align-self: center;
        width: 40%;
        img{
            width: 100%;
        }
    }
    .thirdRight{
        width: 50%;
        text-align: left;
    }
    .skillsUsed, .projectButtons{
        justify-content: flex-start;
    }
    @include mqTinyTablet{
        flex-direction: column;
        .thirdLeft{
            width: 100%;
        }
        .thirdRight{
            width: 100%;
            text-align: center;
        }
        .skillsUsed, .projectButtons{
        justify-content: center;
    }
    }
}

.fourthProject{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
        p{
            a{
                color: $orangeColor;
            }
        }
    .fourthRight{
        width: 40%;
        align-self: center;
        img{
            width: 100%;
        }
    }
    .fourthLeft{
        width: 50%;
        text-align: right;
    }
    .skillsUsed, .projectButtons{
        justify-content: flex-end;
    }
    @include mqTinyTablet{
        flex-direction: column-reverse;
        
        .fourthRight{
            width: 100%;
        }
        .fourthLeft{
            width: 100%;
            text-align: center;
        }
        .skillsUsed, .projectButtons{
        justify-content: center;
    }
    }
}

.fifthProject{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    .fifthLeft{
        align-self: center;
        width: 40%;
        img{
            width: 100%;
        }
    }
    .fifthRight{
        width: 50%;
        text-align: left;
    }
    .skillsUsed, .projectButtons{
        justify-content: flex-start;
    }
    @include mqTinyTablet{
        flex-direction: column;
        .fifthLeft{
            width: 100%;
        }
        .fifthRight{
            width: 100%;
            text-align: center;
        }
        .skillsUsed, .projectButtons{
        justify-content: center;
    }
    }
}