.projects{
    display: flex;
    margin: 80px 0;
    margin-bottom: 80px;
    h4{
        color: $pinkColor;
    }
}

.projectButtons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button{
        margin: 0 20px;
    }
}

.firstProject{
    display: flex;
    justify-content: space-between;
    .firstRight{
        width: 40%;
        img{
            width: 100%;
        }
    }
    .firstLeft{
        width: 50%;
    }
}

