.skills{
    background-color: #eaeaea;
    .wrapper{
        margin: 80px auto;
        .skillsIcons{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            // column-count: 6;
            li{
                margin: 10px;
                padding: 20px;
            }
        }
    }
}

