.skills{
    background-color: $lightGreyColor;
    background-repeat: no-repeat;
    text-align: center;
    padding: 80px 0;
    .wrapper{
        h4{
            position: relative;
            display: inline-block;
            padding: 0 50px;
            &::before{
                position: absolute;
                content: "—";
                top: 0;
                left: 0;
                color: $orangeColor;
            }
            &::after{
                position: absolute;
                content: "—";
                top: 0;
                right: 0;
                color: $orangeColor;
            }
        }
    }

        .skillsIconsOne, .skillsIconsTwo{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
            
            li{
                display: flex;
                flex-direction: column;
                margin: 5px;
                padding: 10px;
                color: $blueGreenTeal;
                text-align: center;
            }
        }
    }

.skillsIconsOne{
    border-top: 2px solid $whiteColor;
    li{
        // color: $teal;
    }
}

.skillsIconsTwo{
    border-bottom: 2px solid $whiteColor;
    li{
        // color: $lightOrange;
    }
}
