@import "./setup";
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./header";
@import "./aboutMe";
@import "./skills";
@import "./projects";
@import "./contact";

.wrapper {
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
    @include mqMedTablet{
        width: 90%;
    }
    @include mqSmallPhone{
        width: 95%;
    }
}

img{
    max-width: 100%;
    display: block;
}

body {
    position: relative;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    // scroll-behavior: smooth;
}

main{
    position: relative;
}


.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    font-size: 2.2rem;
}

.skipLink:focus {
    left: 0;
}

.menuIcon{
    color: $orangeColor;
    position: fixed;
    right: 2%;
    top: 2%;
    display: inline-block;
    z-index: 30;
    transition: 0.5s;
    background-color: $darkTeal;
    padding: 7px 10px;
    border-radius: 100%;
    &:hover{
        background-color: #537ec5;
    }
}


.navParent{
    position: sticky;
    z-index: 50;
    top:0;
.pageNav{
    position: relative;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    .exIcon{
        position: absolute;
        color: $orangeColor;
        top: 3%;
        right: 2%;
        padding: 7px 10px;
    }

    ul{
        background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        z-index: 40;
        li{
            font-size: 3.5rem;
            text-transform: uppercase;
            margin: 0 auto;
            font-weight: 900;
            a{
                color: $teal;
                transition: 0.2s;
                &:hover{
                    color: $lightOrange;

                }
            }
        }
    }
}
}


// Footer styling
footer{
    background-color: $orangeColor;
    text-align: center;
    p{
        color: white;
    }
    span{
        font-size: 1.6rem;
        a{
            text-decoration: underline;
            &:hover{
                color: $darkTeal;
            }
        }
    }
}