@import "./setup";
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./aboutMe";
@import "./skills";
@import "./projects";
@import "./contact";

.wrapper {
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
    @include mqMedTablet{
        width: 90%;
    }
    @include mqSmallPhone{
        width: 95%;
    }
}

img{
    max-width: 100%;
    display: block;
}

body {
    position: relative;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

main{
    position: relative;
}

header {
    background-image: url(../assets/deerSun.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 100vh;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    .headerContent{
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }
    
}

.menuIcon{
    color: $orangeColor;
    position: fixed;
    right: 2%;
    top: 2%;
    display: inline-block;
    z-index: 30;
    transition: 0.5s;
    &:hover{
        color: $lightOrange;
    }
}

.pageNav{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    align-self: center;
    z-index: 30;
    max-height: 100vh;
    display: none;
    .exIcon{
        position:absolute;
        top:0;
        right:0;
        color: $orangeColor;
        top: 2%;
        right: 2%;
    }
    ul{
        background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9));
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        li{
            font-size: 3.5rem;
            text-transform: uppercase;
            font-weight: 900;
            a{
                color: $teal;
                transition: 0.2s;
                &:hover{
                    color: $lightOrange;

                }
            }
        }
    }
}



// Arrow styling
.arrow{
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-self: flex-end;
    z-index: 10;
    
}
.arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 5px solid $darkTeal;
    border-right: 5px solid $darkTeal; 
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.particles-js-canvas-el{
    position: absolute;
}


.topIcons{
        position: sticky;
        right: 2%;
        top: 2%;
        display: inline-block;
        z-index: 30;
        li{
            margin: 10px 0;
            i{
                color: $orangeColor;
                transition: 0.5s;
                &:hover{
                    color: $lightOrange;
                }
            }
        }
        @include mqMedPhone{
            display: none;
        }
    }



// Footer styling
footer{
    background-color: $orangeColor;
    text-align: center;
    p{
        color: white;
    }
    span{
        font-size: 1.6rem;
        a{
            text-decoration: underline;
            &:hover{
                color: $darkTeal;
            }
        }
    }
}