@import "./setup";
@import "./mixins";
@import "./colors";
@import "./fonts";
@import "./header";
@import "./aboutMe";
@import "./skills";
@import "./projects";
@import "./contact";

.wrapper {
    max-width: 1260px;
    width: 85%;
    margin: 0 auto;
    @include mqMedTablet{
        width: 90%;
    }
    @include mqSmallPhone{
        width: 95%;
    }
}

img{
    max-width: 100%;
    display: block;
}

body {
    position: relative;
    overflow-x: hidden;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

main{
    position: relative;
}


.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
    font-size: 2.2rem;
}

.skipLink:focus {
    left: 0;
}




// Footer styling
footer{
    background-color: $orangeColor;
    text-align: center;
    p{
        color: white;
    }
    span{
        font-size: 1.6rem;
        a{
            text-decoration: underline;
            &:hover{
                color: $darkTeal;
            }
        }
    }
}