@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Berkshire Swash', cursive;
  color: white;
}

h1 {
  font-size: 6rem;
  text-shadow: 1px 1px 5px black, 1px 1px 5px black;
}

h1 span {
  color: #c06c84;
  position: relative;
  z-index: 20;
}

h1 span::before {
  content: "";
  width: 90%;
  height: 50%;
  border-radius: 20px;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 5%;
}

@media (max-width: 565px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 422px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 4.6rem;
  }
}

h2 {
  font-size: 5.8rem;
  text-shadow: 1px 1px 10px black, 1px 1px 10px #ccc;
}

@media (max-width: 565px) {
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 422px) {
  h2 {
    font-size: 3rem;
  }
}

h3, h4, h5, li, p, a {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px dashed #FA506F;
  display: inline-block;
}

h3 span {
  color: #FA506F;
}

@media (max-width: 565px) {
  h3 {
    font-size: 3.8rem;
  }
}

h4, p, button, .skillsUsed li {
  font-weight: lighter;
}

h4 {
  margin-top: 20px;
  font-size: 3.2rem;
}

@media (max-width: 565px) {
  h4 {
    font-size: 2.5rem;
  }
}

h5 {
  font-size: 3rem;
  font-weight: normal;
  color: #c06c84;
}

p, button, .skillsUsed li {
  font-size: 2rem;
}

@media (max-width: 422px) {
  p, button, .skillsUsed li {
    font-size: 1.8rem;
  }
}

p {
  color: #696464;
}

button, .skillsUsed li {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #FA506F;
  color: #ffff;
  border: none;
  padding: 10px;
}

button:hover, .skillsUsed li:hover {
  background-color: #f91e46;
  border-radius: 10px;
}

ul {
  list-style: none;
}

.skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.skillsUsed li {
  cursor: default;
  background-color: #c06c84;
  padding: 8px;
  margin: 5px;
  display: inline-block;
}

.skillsUsed li:hover {
  background-color: #cf90a2;
}

a {
  text-decoration: none;
  color: white;
}

.aboutMe {
  background-image: url(../assets/whiteBackground.png);
  background-repeat: repeat;
  background-position: center center;
  padding: 80px 0;
}

.aboutMe .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 930px) {
  .aboutMe .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.aboutMe .aboutMeLeft {
  width: 45%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aboutMe .aboutMeLeft p {
  text-align: left;
}

.aboutMe .aboutMeLeft p {
  margin-top: 20px;
}

.aboutMe .aboutMeLeft p span {
  color: #FA506F;
}

.aboutMe .aboutMeLeft button {
  margin-top: 20px;
}

.aboutMe .aboutMeRight {
  background-image: url(../assets/meAntlers.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  min-height: 50vh;
  border-radius: 2px 20px;
  position: relative;
  cursor: default;
}

.aboutMe .aboutMeRight p {
  position: absolute;
  top: 20%;
  right: 30%;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 20px;
}

.aboutMe .aboutMeRight:hover {
  background-image: url(../assets/meHover.png);
}

@media (max-width: 930px) {
  .aboutMe .aboutMeRight {
    width: 100%;
  }
}

@media (max-width: 930px) {
  .aboutMe .aboutMeLeft {
    width: 100%;
  }
  .aboutMe .aboutMeLeft h3, .aboutMe .aboutMeLeft h4 {
    margin: 0 auto;
    text-align: center;
  }
  .aboutMe .aboutMeLeft .button {
    margin: 0 auto;
    text-align: center;
  }
  .aboutMe .aboutMeLeft .button button {
    width: 70%;
  }
}

.aboutMe.wrapper {
  padding: 20px;
  border-radius: 30px;
}

@media (max-width: 930px) {
  .aboutMe.wrapper {
    width: 90%;
  }
}

.skills {
  background-color: #f8f8f8;
  text-align: center;
  padding: 80px 0;
}

.skills .wrapper h4 {
  position: relative;
  display: inline-block;
  padding: 0 50px;
}

.skills .wrapper h4::before {
  position: absolute;
  content: "—";
  top: 0;
  left: 0;
  color: #FA506F;
}

.skills .wrapper h4::after {
  position: absolute;
  content: "—";
  top: 0;
  right: 0;
  color: #FA506F;
}

.skills .skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-top: 20px;
}

.skills .skillsIcons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 10px;
  color: #FA506F;
  text-align: center;
}

.projects {
  background-image: url(../assets/whiteBackground.png);
  background-repeat: repeat;
  background-position: center center;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.projects h4 {
  position: relative;
  display: inline-block;
  padding: 0 50px;
}

.projects h4::before {
  position: absolute;
  content: "—";
  top: 0;
  left: 0;
  color: #FA506F;
}

.projects h4::after {
  position: absolute;
  content: "—";
  top: 0;
  right: 0;
  color: #FA506F;
}

.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.projectButtons button {
  margin: 0 5px;
}

.firstProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstProject .firstLeft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.firstProject .firstLeft img {
  width: 100%;
}

.firstProject .firstRight {
  width: 50%;
  text-align: left;
}

.firstProject .skillsUsed, .firstProject .projectButtons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 740px) {
  .firstProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstProject .firstLeft {
    width: 100%;
  }
  .firstProject .firstRight {
    width: 100%;
    text-align: center;
  }
  .firstProject .skillsUsed, .firstProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.secondProject {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondProject .secondRight {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.secondProject .secondRight img {
  width: 100%;
}

.secondProject .secondLeft {
  width: 50%;
  text-align: right;
}

.secondProject .skillsUsed, .secondProject .projectButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 740px) {
  .secondProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .secondProject .secondRight {
    width: 100%;
  }
  .secondProject .secondLeft {
    width: 100%;
    text-align: center;
  }
  .secondProject .skillsUsed, .secondProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.thirdProject {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirdProject .thirdLeft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.thirdProject .thirdLeft img {
  width: 100%;
}

.thirdProject .thirdRight {
  width: 50%;
  text-align: left;
}

.thirdProject .skillsUsed, .thirdProject .projectButtons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 740px) {
  .thirdProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thirdProject .thirdLeft {
    width: 100%;
  }
  .thirdProject .thirdRight {
    width: 100%;
    text-align: center;
  }
  .thirdProject .skillsUsed, .thirdProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fourthProject {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourthProject p a {
  color: #FA506F;
}

.fourthProject .fourthRight {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fourthProject .fourthRight img {
  width: 100%;
}

.fourthProject .fourthLeft {
  width: 50%;
  text-align: right;
}

.fourthProject .skillsUsed, .fourthProject .projectButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 740px) {
  .fourthProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .fourthProject .fourthRight {
    width: 100%;
  }
  .fourthProject .fourthLeft {
    width: 100%;
    text-align: center;
  }
  .fourthProject .skillsUsed, .fourthProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fifthProject {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fifthProject .fifthLeft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.fifthProject .fifthLeft img {
  width: 100%;
}

.fifthProject .fifthRight {
  width: 50%;
  text-align: left;
}

.fifthProject .skillsUsed, .fifthProject .projectButtons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 740px) {
  .fifthProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifthProject .fifthLeft {
    width: 100%;
  }
  .fifthProject .fifthRight {
    width: 100%;
    text-align: center;
  }
  .fifthProject .skillsUsed, .fifthProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 1175px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 422px) {
  .wrapper {
    width: 95%;
  }
}

img {
  max-width: 100%;
  display: block;
}

body {
  position: relative;
}

html {
  font-size: 62.5%;
}

header {
  background-image: url(../assets/deerSunRise.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

header .headerContent {
  position: relative;
  z-index: 10;
}

.particles-js-canvas-el {
  position: absolute;
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 10;
}

.arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid #ffff;
  border-right: 5px solid #ffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}
