article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Berkshire Swash', cursive;
  color: white;
}

h1 {
  font-size: 8rem;
  text-shadow: 1px 1px 5px black, 1px 1px 5px black;
}

h1 span {
  color: #FC6F5C;
  position: relative;
  z-index: 20;
  text-shadow: 1px 1px 5px black, 1px 1px 5px black;
}

h1 span::before {
  content: "";
  width: 90%;
  height: 50%;
  border-radius: 20px;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 5%;
}

h2 {
  font-size: 5.8rem;
  text-shadow: 1px 1px 5px black, 1px 1px 5px #ccc;
}

h3, h4, p {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 600;
  border-bottom: 2px dashed #FC6F5C;
  display: inline-block;
}

h3 span {
  color: #FC6F5C;
}

h4 {
  margin-top: 20px;
  font-size: 3.2rem;
}

p {
  font-size: 2rem;
  color: #5f6769;
}

button {
  font-size: 2.2rem;
  font-weight: lighter;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #FC6F5C;
  color: #ffff;
  border: none;
}

button:hover {
  background-color: #fb432a;
  border-radius: 10px;
}

ul {
  list-style: none;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #FC6F5C;
}

.aboutMe .aboutMeLeft {
  width: 42%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aboutMe .aboutMeLeft p {
  margin-top: 20px;
}

.aboutMe .aboutMeLeft p span {
  color: #FC6F5C;
}

.aboutMe .aboutMeLeft button {
  padding: 20px 40px;
  margin-top: 20px;
}

.aboutMe .aboutMeRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
}

.aboutMe .aboutMeRight img {
  max-width: 100%;
  -webkit-box-shadow: 10px 10px 5px 0px #FC6F5C;
  box-shadow: 10px 10px 5px 0px #FC6F5C;
  border-radius: 2px 20px;
}

.aboutMe.wrapper {
  margin: 80px auto;
  padding: 20px;
  border-radius: 30px;
}

.skills {
  background-color: #eaeaea;
}

.skills .wrapper {
  margin: 80px auto;
}

.skills .wrapper .skillsIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills .wrapper .skillsIcons li {
  margin: 10px;
  padding: 20px;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

body {
  position: relative;
}

html {
  font-size: 62.5%;
}

header {
  background-image: url(/assets/deerSunRise.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

header .headerContent {
  position: relative;
}

.particles-js-canvas-el {
  position: absolute;
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.arrow span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ffff;
  border-right: 5px solid #ffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}
