@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Berkshire Swash', cursive;
  color: white;
}

h1 {
  font-size: 10rem;
  text-shadow: 1px 1px 5px black, 1px 1px 5px black;
}

h1 span {
  color: #524771;
  position: relative;
  z-index: 20;
  text-shadow: 1px 1px 5px #ffff, 1px 1px 5px #ffff;
}

h1 span::before {
  content: "";
  width: 90%;
  height: 50%;
  border-radius: 20px;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 5%;
}

@media (max-width: 565px) {
  h1 {
    font-size: 6rem;
  }
}

@media (max-width: 422px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 340px) {
  h1 {
    font-size: 4.6rem;
  }
}

h2 {
  font-size: 5.8rem;
  text-shadow: 1px 1px 10px black, 1px 1px 10px #ccc;
}

@media (max-width: 565px) {
  h2 {
    font-size: 4rem;
  }
}

@media (max-width: 422px) {
  h2 {
    font-size: 3rem;
  }
}

h3, h4, h5, li, p, a, button, input, textarea {
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 2px dashed #FC6F5C;
  display: inline-block;
}

h3 span {
  color: #FC6F5C;
}

@media (max-width: 565px) {
  h3 {
    font-size: 3.8rem;
  }
}

h4 {
  margin-top: 20px;
  font-size: 3.2rem;
  font-weight: lighter;
}

@media (max-width: 565px) {
  h4 {
    font-size: 2.5rem;
  }
}

h5 {
  font-size: 3rem;
  font-weight: normal;
  color: #00a79d;
  letter-spacing: 5px;
}

@media (max-width: 565px) {
  h5 {
    font-size: 2.2rem;
    letter-spacing: none;
    margin-top: 20px;
  }
}

p, button, .skillsUsed li, .pageNav li, input, textarea {
  font-size: 2rem;
}

@media (max-width: 422px) {
  p, button, .skillsUsed li, .pageNav li, input, textarea {
    font-size: 1.8rem;
  }
}

button {
  display: inline-block;
  background-color: #FC6F5C;
  font-size: 2.2rem;
  padding: 10px 20px;
  margin-right: 10px;
  -webkit-box-shadow: 5px 5px 0 #51dacf;
          box-shadow: 5px 5px 0 #51dacf;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  border: none;
}

button:hover {
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 5px;
  left: 5px;
}

ul {
  list-style: none;
}

.skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.skillsUsed li {
  cursor: default;
  background-color: transparent;
  color: black;
  border: 1px solid #00a79d;
  padding: 8px;
  margin: 5px;
  display: inline-block;
}

@media (max-width: 565px) {
  .skillsUsed {
    margin-top: 10px;
  }
}

a {
  text-decoration: none;
  color: white;
}

input, textarea {
  border: 1px solid #282c37;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

header {
  background-image: url(../assets/deerSun.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
}

header .headerContent {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-item-align: end;
      align-self: flex-end;
  z-index: 10;
}

.arrow span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 5px solid #524771;
  border-right: 5px solid #524771;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -10px;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

.particles-js-canvas-el {
  position: absolute;
}

.aboutMe {
  background-image: url(../assets/whiteBackground.png);
  background-repeat: repeat;
  background-position: center center;
  padding: 80px 0;
  position: relative;
}

.aboutMe .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 930px) {
  .aboutMe .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.aboutMe .aboutMeLeft {
  width: 45%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 930px) {
  .aboutMe .aboutMeLeft {
    display: block;
  }
}

.aboutMe .aboutMeLeft p {
  text-align: left;
  margin-top: 20px;
}

.aboutMe .aboutMeLeft p span {
  color: #00a79d;
}

.aboutMe .aboutMeLeft .careerButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutMe .aboutMeLeft .careerButtons button {
  width: 45%;
  margin-top: 20px;
  padding: 10px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

@media (max-width: 930px) {
  .aboutMe .aboutMeLeft {
    width: 100%;
    text-align: center;
  }
  .aboutMe .aboutMeLeft .careerButtons {
    margin: 0 auto;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutMe .aboutMeLeft .careerButtons button {
    width: 100%;
  }
}

.aboutMe .aboutMeRight {
  margin: 0 auto;
  position: relative;
  cursor: default;
}

.aboutMe .aboutMeRight img {
  border-radius: 87% 13% 40% 60% / 34% 77% 23% 66%;
  height: 500px;
}

@media (max-width: 930px) {
  .aboutMe .aboutMeRight img {
    height: auto;
  }
}

.aboutMe .aboutMeRight .meMustache {
  display: none;
}

.aboutMe .aboutMeRight:hover .meAntlers {
  display: none;
}

.aboutMe .aboutMeRight:hover .meMustache {
  -webkit-transition: 1s;
  transition: 1s;
  display: block;
  border-radius: 76% 24% 56% 44% / 34% 54% 46% 66%;
}

@media (max-width: 670px) {
  .aboutMe .aboutMeRight {
    width: 100%;
    margin-bottom: 20px;
    height: auto;
  }
}

.aboutMe.wrapper {
  padding: 20px;
  border-radius: 30px;
}

@media (max-width: 930px) {
  .aboutMe.wrapper {
    width: 90%;
  }
}

.skills {
  background-color: #FAFAFA;
  background-repeat: no-repeat;
  text-align: center;
  padding: 80px 0;
}

.skills .wrapper h4 {
  position: relative;
  display: inline-block;
  padding: 0 50px;
}

.skills .wrapper h4::before {
  position: absolute;
  content: "—";
  top: 0;
  left: 0;
  color: #FC6F5C;
}

.skills .wrapper h4::after {
  position: absolute;
  content: "—";
  top: 0;
  right: 0;
  color: #FC6F5C;
}

.skills .skillsIconsOne, .skills .skillsIconsTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.skills .skillsIconsOne li, .skills .skillsIconsTwo li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  padding: 10px;
  color: #524771;
  text-align: center;
}

.skillsIconsOne {
  border-top: 2px solid #00adb5;
}

.skillsIconsTwo {
  border-bottom: 2px solid #00adb5;
}

.projects {
  background-image: url(../assets/whiteBackground.png);
  background-repeat: repeat;
  background-position: center center;
  padding: 80px 0;
  margin: 0 auto;
  text-align: center;
}

.projects h4 {
  position: relative;
  display: inline-block;
  padding: 0 50px;
}

.projects h4::before {
  position: absolute;
  content: "—";
  top: 0;
  left: 0;
  color: #FC6F5C;
}

.projects h4::after {
  position: absolute;
  content: "—";
  top: 0;
  right: 0;
  color: #FC6F5C;
}

.projects .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

.projectButtons button {
  margin: 0 5px;
}

.firstProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstProject .firstLeft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.firstProject .firstLeft img {
  width: 100%;
}

.firstProject .firstRight {
  width: 50%;
  text-align: left;
}

.firstProject .skillsUsed, .firstProject .projectButtons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 740px) {
  .firstProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .firstProject .firstLeft {
    width: 100%;
  }
  .firstProject .firstRight {
    width: 100%;
    text-align: center;
  }
  .firstProject .skillsUsed, .firstProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.secondProject {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.secondProject .secondRight {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.secondProject .secondRight img {
  width: 100%;
}

.secondProject .secondLeft {
  width: 50%;
  text-align: right;
}

.secondProject .secondLeft p a {
  color: #FC6F5C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.secondProject .secondLeft p a:hover {
  color: #00a79d;
}

.secondProject .skillsUsed, .secondProject .projectButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 740px) {
  .secondProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .secondProject .secondRight {
    width: 100%;
  }
  .secondProject .secondLeft {
    width: 100%;
    text-align: center;
  }
  .secondProject .skillsUsed, .secondProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.thirdProject {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.thirdProject .thirdLeft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.thirdProject .thirdLeft img {
  width: 100%;
}

.thirdProject .thirdRight {
  width: 50%;
  text-align: left;
}

.thirdProject .skillsUsed, .thirdProject .projectButtons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 740px) {
  .thirdProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thirdProject .thirdLeft {
    width: 100%;
  }
  .thirdProject .thirdRight {
    width: 100%;
    text-align: center;
  }
  .thirdProject .skillsUsed, .thirdProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fourthProject {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourthProject p a {
  color: #FC6F5C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.fourthProject p a:hover {
  color: #00a79d;
}

.fourthProject .fourthRight {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.fourthProject .fourthRight img {
  width: 100%;
}

.fourthProject .fourthLeft {
  width: 50%;
  text-align: right;
}

.fourthProject .skillsUsed, .fourthProject .projectButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 740px) {
  .fourthProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .fourthProject .fourthRight {
    width: 100%;
  }
  .fourthProject .fourthLeft {
    width: 100%;
    text-align: center;
  }
  .fourthProject .skillsUsed, .fourthProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fifthProject {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fifthProject .fifthLeft {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40%;
}

.fifthProject .fifthLeft img {
  width: 100%;
}

.fifthProject .fifthRight {
  width: 50%;
  text-align: left;
}

.fifthProject .skillsUsed, .fifthProject .projectButtons {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 740px) {
  .fifthProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fifthProject .fifthLeft {
    width: 100%;
  }
  .fifthProject .fifthRight {
    width: 100%;
    text-align: center;
  }
  .fifthProject .skillsUsed, .fifthProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.sixthProject {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sixthProject p a {
  color: #FC6F5C;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sixthProject p a:hover {
  color: #00a79d;
}

.sixthProject .sixthRight {
  width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sixthProject .sixthRight img {
  width: 100%;
}

.sixthProject .sixthLeft {
  width: 50%;
  text-align: right;
}

.sixthProject .skillsUsed, .sixthProject .projectButtons {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 740px) {
  .sixthProject {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .sixthProject .sixthRight {
    width: 100%;
  }
  .sixthProject .sixthLeft {
    width: 100%;
    text-align: center;
  }
  .sixthProject .skillsUsed, .sixthProject .projectButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.contact {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.8))), url(../assets/treePattern.jpg);
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8)), url(../assets/treePattern.jpg);
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  padding-top: 80px;
}

.contact h4 {
  position: relative;
  display: inline-block;
  padding: 0 50px;
}

.contact h4::before {
  position: absolute;
  content: "—";
  top: 0;
  left: 0;
  color: #FC6F5C;
}

.contact h4::after {
  position: absolute;
  content: "—";
  top: 0;
  right: 0;
  color: #FC6F5C;
}

.contact h4 span {
  color: #ff9776;
}

.contact .wrapper {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 565px) {
  .socials {
    width: 100%;
  }
}

.socials h5 {
  color: #FA506F;
}

.socials .socialIcons {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socials .socialIcons li i {
  color: #FC6F5C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.socials .socialIcons li i:hover {
  color: #ff9776;
}

.contactForm {
  margin: 30px auto;
  width: 80%;
  background-color: #524771;
  border-radius: 10px;
  border: 3px solid #FC6F5C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactForm .inputRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactForm .inputRow .emailInput, .contactForm .inputRow .nameInput {
  width: 49%;
}

@media (max-width: 565px) {
  .contactForm .inputRow .emailInput, .contactForm .inputRow .nameInput {
    width: 100%;
  }
}

@media (max-width: 565px) {
  .contactForm .inputRow {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contactForm form {
  padding: 25px;
  display: inline-block;
}

.contactForm form textarea, .contactForm form input {
  resize: none;
  border-radius: 10px;
}

.contactForm form textarea:focus, .contactForm form input:focus {
  border: 4px dotted #00a79d;
}

.contactForm button {
  color: white;
}

@media (max-width: 870px) {
  .contactForm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 30px 0;
  }
  .contactForm form {
    padding: 10px;
  }
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 1175px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 422px) {
  .wrapper {
    width: 95%;
  }
}

img {
  max-width: 100%;
  display: block;
}

body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

main {
  position: relative;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
  font-size: 2.2rem;
}

.skipLink:focus {
  left: 0;
}

.menuIcon {
  color: #FC6F5C;
  position: fixed;
  right: 2%;
  top: 2%;
  display: inline-block;
  z-index: 30;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #524771;
  padding: 7px 10px;
  border-radius: 100%;
  font-size: 4rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding-top: 1px;
  padding-bottom: 4px;
  font-weight: bold;
}

.menuIcon:hover {
  background-color: #537ec5;
}

.navParent {
  position: -webkit-sticky;
  position: sticky;
  z-index: 50;
  top: 0;
}

.navParent .pageNav {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.navParent .pageNav .exIcon {
  position: absolute;
  background-color: #FC6F5C;
  color: #ffffff;
  top: 3%;
  right: 2%;
  padding: 7px 10px;
  font-size: 4rem;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 100%;
}

.navParent .pageNav ul {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100vh;
  z-index: 40;
}

.navParent .pageNav ul li {
  font-size: 3.5rem;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 900;
}

.navParent .pageNav ul li a {
  color: #00a79d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navParent .pageNav ul li a:hover {
  color: #ff9776;
}

footer {
  background-color: #FC6F5C;
  text-align: center;
  padding: 4px;
}

footer p {
  color: white;
}

footer span {
  font-size: 1.6rem;
}

footer span a {
  text-decoration: underline;
}

footer span a:hover {
  color: #524771;
}
